*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: aqua;
    
}
.calculator{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #14324F;
 overflow: hidden;
}
#keys{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
    
}
#display{
    text-align:right;
    border: none;
    font-size: 25px;
    font-weight: bold;
    outline: none;
    width: 100%;
    height: 50px;

}
button{
    border: none;
    border-radius: 8px;
    background-color: whitesmoke;
    color: #14324F;
    width: 70px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.equalBtn{
    grid-area: span;
}